<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name ="wel" class = "com.app.Welcome">
    
    <property name="msg" value = "Welcome to spring framework"/>
    </bean>
    <bean name ="person" class = "com.app.Person">
    
    <property name="pid" value = "101"/>
        <property name="name" value = "Swati"/>
    
    </bean>
    

</beans>